body{
   
    z-index: -10;
    /* Background pattern from Subtle Patterns */
    background: url(../img/concrete_seamless.png);
//    background-size: 100%;
    background-repeat: repeat;
    
}
#menu{
    background: url(../img/bg.jpg);
    background-size: 900px 1000px;
    background-repeat: no-repeat;

    z-index: 20;
    position:relative;
    width:900px;
    height:900px;
    border-radius: 50%;
    margin:{
        left:auto;
        right: auto;
        top: 200px;
        bottom: 60px;
}
    } 

@media only screen and (max-width: 1024px) {
    #menu {
    background: url(../img/concrete_seamless.png);
    background-repeat: repeat;
    position:relative;
    }
    .fundactions{
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
    .applications{
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
    .friendlyPlaces{
     display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;    
    }
    .articles{
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
    .animals{
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
    .law{
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
}
.mainImg{
    z-index: 100;
    width: 350px;
    height: 350px;
    position: absolute;
}

.overlayFundaction {
  @extend .overlay;
  top: -10%;
  left: 5%;

}
.singleImg:hover .overlayFundaction{
  @include hoverImg;
}

.text {
  color: #000;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bold;
}

.fundactions{
    top:-10%;
    left:5%;
    position: absolute;
}
.overlayApp {
  @extend .overlay;    
  top: -10%;
  right: 5%;
}
.singleImg:hover .overlayApp {
   @include hoverImg;
}
.applications{
    top:-10%;
    right:5%;
}
.overlayPlaces {
  @extend .overlay;    
  top: 30%;
  left: -25%;
}
.singleImg:hover .overlayPlaces {
   @include hoverImg;
}

.friendlyPlaces{
    top:30%;
    left:-25%;
}

.overlayArticles {
  @extend .overlay;    
  top: 30%;
  right: -25%;
}
.singleImg:hover .overlayArticles {
   @include hoverImg;
}
.articles{
     top:30%;
    right:-25%;
}
.overlayAnimals {
  @extend .overlay;    
  bottom: -10%;
  left: 5%;
}
.singleImg:hover .overlayAnimals {
   @include hoverImg;
}
.animals{
    bottom:-10%;
    left:5%;
}
.overlayLaw {
  @extend .overlay;    
  bottom: -10%;
  right: 5%;
}
.singleImg:hover .overlayLaw {
   @include hoverImg;
}
.law{
    bottom: -10%;
    right: 5%;
}
