
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */