*:focus{
    border: 10px solid red;
      } 


a{
    position:relative;
     &:hover .read_next{
            top: 15;
            left: 15rem;  
            }
   
    .read_next{  
    @include gradient_diagonal($dark_background_color_start, $dark_background_color);
    color: $bright_color;
    font-family: $font;
    width: 25rem;
    height: 6rem;
    font:{
        size: 4rem;
        weight: bold
        }
    position: absolute;
    top: 23rem;
    left: -150rem;    
    &:focus {
        top: 23rem;
        left: 15rem;  
        }
}
}
